.idea/
coverage/*
Panorama.war
secret_key_base
client_info.store/*
.bundle/
log/*.log
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/client_info.store/*
test/dummy/config/secrets.yml
/test/dummy/public/assets/*
/test/dummy/node_modules/.yarn-integrity
/vendor/assets/javascripts/d3.v6.js
/docker/oracle_db_prebuilt_panorama_test/local_build.sh
