<%
  @update_area = get_unique_area_id

  def render_action_buttons(rec)
    retval =
    "<div style=\"float:left\">#{
    ajax_submit('Edit', {
        :update_area => @update_area,
        :action      => :show_edit_config_form,
        :id          => rec[:id]
    }, :title => 'Add new database config'
    )}</div><div>#{
    ajax_submit('Delete', {
        :update_area => :content_for_layout,
        :action      => :delete_config,
        :id          => rec[:id]
    }, :title => 'Delete configuration record',
        :onclick=>"return confirm('Delete config entry with ID = #{rec[:id]} ?');return false;"
    )}</div>"

    if rec[:last_error_message] || rec[:last_error_time]
      retval << "
    <div>#{
    ajax_submit('Clear error', {
        :update_area => :content_for_layout,
        :action      => :clear_config_error,
        :id          => rec[:id]
    }, :title => 'Delete error message for this config entry'
    )}</div>"
    end
    retval
  end

  def error_style(rec)
    "background-color:coral;" if rec[:last_successful_connect].nil? || (rec[:last_successful_connect] && rec[:last_error_time] && rec[:last_error_time] > rec[:last_successful_connect])
  end

  def snapshot_duration(rec)
    if rec[:last_snapshot_end] && rec[:last_snapshot_start]
      if rec[:last_snapshot_end] > rec[:last_snapshot_start]
        fn(rec[:last_snapshot_end] - rec[:last_snapshot_start], 2)
      else
        'Snapshot not successful finished'
      end
    else
      'Unknown'
    end
  end

  def awr_ash_style(rec)
    "background-color:darkgray;" if !rec[:awr_ash_active]
  end

  def data_awr_ash_sampling(rec)
    "#{fn(rec[:snapshot_cycle])} / #{fn(rec[:snapshot_retention])} / #{fn(rec[:sql_min_no_of_execs])} / #{fn(rec[:sql_min_runtime_millisecs])}"
  end

  def title_awr_ash_sampling(rec)
    "AWR/ASH-sampling = #{rec[:awr_ash_active] ? 'Active' : 'Inactive'}
Delay between snapshots = #{fn(rec[:snapshot_cycle])} minutes
Retention time for snapshot data before deletion = #{fn(rec[:snapshot_retention])} days
Minimum number of SQL executions in snapshot cycle to be recorded by Panorama-Sampler = #{fn(rec[:sql_min_no_of_execs])}
Minimum number of SQL runtime in snapshot cycle to be recorded by Panorama-Sampler = #{fn(rec[:sql_min_runtime_millisecs])} milliseconds"
  end

  def object_size_style(rec)
    "background-color:darkgray;" if !rec[:object_size_active]
  end

  def data_object_size_sampling(rec)
    "#{fn(rec[:object_size_snapshot_cycle])} / #{fn(rec[:object_size_snapshot_retention])}"
  end

  def title_object_size_sampling(rec)
    "Object size sampling = #{rec[:object_size_active] ? 'Active' : 'Inactive'}
Delay between snapshots of object sizes = #{fn(rec[:object_size_snapshot_cycle])} hours
Retention time for object size snapshot data before deletion = #{fn(rec[:object_size_snapshot_retention])} days"
  end

  column_options =
  [
    {:caption=>'ID',                            :data=>proc{|rec| rec[:id]},                                              :title=>"Unique identifier for config entry", :align=>:right },
    {:caption=>'Config. name',                  :data=>proc{|rec| rec[:name]},                                            :title=>"Name / description for configuration" },
    {:caption=>'TNS config',                    :data=>proc{|rec| rec[:tns]},                                             :title=>"TNS-alias or connect string" },
    {:caption=>'Username',                      :data=>proc{|rec| rec[:user]},                                            :title=>"Name of user to connect to database for workload recording" },
    {:caption=>'Schema owner',                  :data=>proc{|rec| rec[:owner]},                                           :title=>"Name of user/schema to store Panoramas tables for workload recording"},
    {:caption=>'DBID',                          :data=>proc{|rec| rec[:dbid]},                                            :title=>"Unique database identifier (v$Database.DBID)" },
    {:caption=>'AWR/ASH config',                :data=>proc{|rec| data_awr_ash_sampling(rec)},                            :title=>"Details for AWR/ASH-sampling",                                 :data_style=>proc{|rec| awr_ash_style(rec)}, data_title: proc{|rec| title_awr_ash_sampling(rec)}},
    {:caption=>'Last AWR/ASH snapshot time',    :data=>proc{|rec| localeDateTime(rec[:last_snapshot_start])},             :title=>"Timestamp of last AWR/ASH snapshot start",                     :data_style=>proc{|rec| awr_ash_style(rec)}, :data_title=>proc{|rec| "%t\nLast snapshot ended at #{localeDateTime(rec[:last_snapshot_end])}\nLast snapshot was executed at instance #{rec[:last_snapshot_instance]}"}},
    {:caption=>'Last AWR/ASH snapshot duration',:data=>proc{|rec| snapshot_duration(rec)},                                :title=>"Duration in seconds of last AWR/ASH snapshot creation",        :align=>:right, :data_style=>proc{|rec| awr_ash_style(rec)}},
    {:caption=>'Object size config',            :data=>proc{|rec| data_object_size_sampling(rec)},                        :title=>"Details for object size sampling",                             :data_style=>proc{|rec| object_size_style(rec)}, data_title: proc{|rec| title_object_size_sampling(rec)}},
    {:caption=>'Last object size snapshot time',:data=>proc{|rec| localeDateTime(rec[:last_object_size_snapshot_start])}, :title=>"Timestamp of last object size snapshot start",                 :data_style=>proc{|rec| object_size_style(rec)}, :data_title=>proc{|rec| "%t\nLast object size snapshot ended at #{localeDateTime(rec[:last_object_size_snapshot_end])}"}},
    {:caption=>'Last connect time',             :data=>proc{|rec| localeDateTime(rec[:last_successful_connect])},         :title=>"Timestamp of last successful connect to this database"},
    {:caption=>'Last error time',               :data=>proc{|rec| localeDateTime(rec[:last_error_time])},                 :title=>"Timestamp of last connect- or execution-error", :data_style=>proc{|rec| error_style(rec)}},
    {:caption=>'Last error message',            :data=>proc{|rec| rec[:last_error_message]},                              :title=>"Last message of connect- or execution-error", :data_title=>proc{|rec| "%t\n#{rec[:last_error_message]}"}, :data_style=>proc{|rec| error_style(rec)}, :max_wrap_width=>60},
    {:caption=>'Action',                        :data=>proc{|rec| render_action_buttons(rec) },                           :title=>"Execute action for this record" },
  ]

%>

<%= gen_slickgrid(@sampler_config, column_options, {
    :caption => "Panorama-Sampler configuration (stored in local file system at Panorama server)",
    :max_height=>450,
    :command_menu_entries => [   {
                                     :name                  => :refresh_list,
                                     :caption               => 'Refresh list',
                                     :hint                  => "Refresh content of list from config stored at server",
                                     :icon_class            => 'ui-icon ui-icon-arrowrefresh-1-e',
                                     :show_icon_in_caption  => :only,
                                     :action                => "ajax_html('#{params[:update_area]}', 'panorama_sampler', 'list_config', { update_area: '#{params[:update_area]}'});"
                                 }
    ]
}) %>

<%=
  ajax_submit("Add new target database for sampling", {
      :update_area => @update_area,
      :action      => :show_new_config_form,
  }, :title => 'Add new config for target database'
  )
%>

<div id="<%= @update_area %>"></div>