<%
  @update_area = get_unique_area_id

  def render_action_buttons(rec)
    "<div style=\"float:left\">#{
    ajax_submit('Edit', {
        :update_area => @update_area,
        :action      => :show_edit_config_form,
        :id          => rec[:id]
    }, :title => 'Add new database config'
    )}</div><div>#{
    ajax_submit('Delete', {
        :update_area => :content_for_layout,
        :action      => :delete_config,
        :id          => rec[:id]
    }, :title => 'Delete configuration record',
        :onclick=>"return confirm('Delete config entry with ID = #{rec[:id]} ?');return false;"
    )}</div>"
  end

  column_options =
  [
    {:caption=>'ID',                  :data=>proc{|rec| rec[:id]},                                        :title=>"Unique identifier", :align=>:right},
    {:caption=>'Config. name',        :data=>proc{|rec| rec[:name]},                                      :title=>"Name / description for configuration"},
    {:caption=>'TNS config',          :data=>proc{|rec| rec[:tns]},                                       :title=>"TNS-alias or connect string"},
    {:caption=>'Username',            :data=>proc{|rec| rec[:user]},                                      :title=>"Name of user to store Panorama's tables for workload recording"},
    {:caption=>'DBID',                :data=>proc{|rec| rec[:dbid]},                                      :title=>"Unique database identifier (v$Database.DBID)"},
    {:caption=>'Last connect',        :data=>proc{|rec| localeDateTime(rec[:last_successful_connect])},   :title=>"Last successful connect to database"},
    {:caption=>"Snapshot retention",  :data=>proc{|rec| rec[:snapshot_retention]},                        :title=>"Delay between snapshots in minutes", :align=>:right},
    {:caption=>'Action',              :data=>proc{|rec| render_action_buttons(rec) },                     :title=>"Execute action for this record" },
  ]

%>

<%= gen_slickgrid(@sampler_config, column_options, {
    :caption => "Panorama-Sampler configuration",
    :max_height=>450
}) %>

<%=
  ajax_submit("Add new config", {
      :update_area => @update_area,
      :action      => :show_new_config_form,
  }, :title => 'Add new database config'
  )
%>

<div id="<%= @update_area %>"></div>