<%
  @update_area = get_unique_area_id

  def render_action_buttons(rec)
    "<div style=\"float:left\">#{
    ajax_submit('Edit', {
        :update_area => @update_area,
        :action      => :show_edit_config_form,
        :id          => rec[:id]
    }, :title => 'Add new database config'
    )}</div><div>#{
    ajax_submit('Delete', {
        :update_area => :content_for_layout,
        :action      => :delete_config,
        :id          => rec[:id]
    }, :title => 'Delete configuration record',
        :onclick=>"return confirm('Delete config entry with ID = #{rec[:id]} ?');return false;"
    )}</div>"
  end

  def default_style(rec, overwrite=nil)
    return overwrite if overwrite
    "background-color:darkgray;" if !rec[:active]
  end

  def error_style(rec)
    "background-color:coral;" if rec[:last_successful_connect].nil? || (rec[:last_successful_connect] && rec[:last_error_time] && rec[:last_error_time] > rec[:last_successful_connect])
  end

  column_options =
  [
    {:caption=>'ID',                  :data=>proc{|rec| rec[:id]},                                        :title=>"Unique identifier", :align=>:right,                            :data_style=>proc{|rec| default_style(rec)}},
    {:caption=>'A.',                  :data=>proc{|rec| rec[:active] ? 'Y' : 'N'},                        :title=>"Active-state, sampling occurs for active configurations only", :data_style=>proc{|rec| default_style(rec)}},
    {:caption=>'Config. name',        :data=>proc{|rec| rec[:name]},                                      :title=>"Name / description for configuration",                         :data_style=>proc{|rec| default_style(rec)}},
    {:caption=>'TNS config',          :data=>proc{|rec| rec[:tns]},                                       :title=>"TNS-alias or connect string",                                  :data_style=>proc{|rec| default_style(rec)}},
    {:caption=>'Username',            :data=>proc{|rec| rec[:user]},                                      :title=>"Name of user to connect to database for workload recording", :data_style=>proc{|rec| default_style(rec)}},
    {:caption=>'Schema owner',        :data=>proc{|rec| rec[:owner]},                                     :title=>"Name of user/schema to store Panoramas tables for workload recording", :data_style=>proc{|rec| default_style(rec)}},
    {:caption=>'DBID',                :data=>proc{|rec| rec[:dbid]},                                      :title=>"Unique database identifier (v$Database.DBID)",                 :data_style=>proc{|rec| default_style(rec)}},
    {:caption=>"Snapshot cycle",      :data=>proc{|rec| rec[:snapshot_cycle]},                            :title=>"Delay between snapshots in minutes", :align=>:right,           :data_style=>proc{|rec| default_style(rec)}},
    {:caption=>"Snapshot retention",  :data=>proc{|rec| rec[:snapshot_retention]},                        :title=>"Retention time for snapshot data in days before deletion", :align=>:right, :data_style=>proc{|rec| default_style(rec)}},
    {:caption=>'Last snapshot time',  :data=>proc{|rec| localeDateTime(rec[:last_snapshot_time])},        :title=>"Timestamp of last snapshot start",                             :data_style=>proc{|rec| default_style(rec)}},
    {:caption=>'Last connect time',   :data=>proc{|rec| localeDateTime(rec[:last_successful_connect])},   :title=>"Timestamp of last successful connect to this database",        :data_style=>proc{|rec| default_style(rec)}},
    {:caption=>'Last error time',     :data=>proc{|rec| localeDateTime(rec[:last_error_time])},           :title=>"Timestamp of last connect- or execution-error", :data_style=>proc{|rec| default_style(rec, error_style(rec))}},
    {:caption=>'Last error message',  :data=>proc{|rec| rec[:last_error_message]},                        :title=>"Last message of connect- or execution-error", :data_title=>proc{|rec| "%t\n#{rec[:last_error_message]}"}, :data_style=>proc{|rec| default_style(rec, error_style(rec))}, :max_wrap_width=>60},
    {:caption=>'Action',              :data=>proc{|rec| render_action_buttons(rec) },                     :title=>"Execute action for this record" },
  ]

%>

<%= gen_slickgrid(@sampler_config, column_options, {
    :caption => "Panorama-Sampler configuration",
    :max_height=>450
}) %>

<%=
  ajax_submit("Add new config", {
      :update_area => @update_area,
      :action      => :show_new_config_form,
  }, :title => 'Add new database config'
  )
%>

<div id="<%= @update_area %>"></div>