<div class="page_caption">Enter master password to access Panorama-Sampler configuration</div>
<% @update_area = get_unique_area_id %>
<%= ajax_form(:controller => :panorama_sampler, :action => :check_master_password, :update_area => :content_for_layout) do %>
    Master-password
    <%= password_field_tag(:master_password, "", :size=>40, :title=>"Master password for Panorama-Sampler.\nMust match the password given in environment variable PANORAMA_SAMPLER_MASTER_PASSWORD at startup of Panorama-server") %>
    <%= submit_tag('Login', :title =>"Authenticate for configuration of Panorama-Sampler" ) %>
<% end %>

