<%= render_page_caption("Blocking Locks #{t(:from, :default=>'from')} #{PanoramaSamplerStructureCheck.adjust_table_name('DBA_Hist_Active_Sess_History')}") %>


<%= ajax_form(:controller  => :active_session_history,
                             :action      => :list_blocking_locks_historic,
                             :update_area => :show_blocking_locks_detail_area
                     ) do %>
  <div class="flex-row-container">
    <%= include_start_end_timepicker %>

    <div class="flex-row-element">
      <%= submit_tag(t(:active_session_history_show_blocking_locks_submit_caption, :default=>"Show blocking locks"), :title => t(:active_session_history_show_blocking_locks_submit_hint, :default=>"Show blocking locks history")) %>
    </div>
  </div>
<% end %>
<div id="show_blocking_locks_detail_area"></div>

