<%
   @update_area = get_unique_area_id

   link_column = proc do |rec, value|
     ajax_link(value, {
                     :action      => :list_waits_per_event,
                     :instance    => rec.inst_id,
                     :event       => rec.event,
                     :update_area => @update_area
                    },
             :title=> "Show active sessions with this wait event")
   end

  show_module = proc do |rec|
    rec.module_count > 1 ? "<&nbsp;#{rec.module_count}&nbsp;>" : rec.module
  end

  show_action = proc do |rec|
    rec.action_count > 1 ? "<&nbsp;#{rec.action_count}&nbsp;>" : rec.action
  end

  column_options = []
  column_options << {:caption=>t(:dba_show_session_waits_count_caption, :default=>'Session count'),       :data=>proc{|rec| link_column.call(rec, formattedNumber(rec.anzahl)) },      :title=>t(:dba_show_session_waits_count_hint, :default=>'Number of active sessions in this event'), :align=>"right"}
  column_options << {:caption=>"I",                :data=>proc{|rec| rec.inst_id},                        :title=>"RAC-Instance"}
  column_options << {:caption=>"Event",            :data=>proc{|rec| rec.event},                          :title=>"Wait-Event", :data_title=>proc{|rec| "%t: #{explain_wait_event(rec.event)}"} }
  column_options << {:caption=>"Wait-Class",       :data=>proc{|rec| rec.wait_class},                     :title=>"Wait-Class"}
  column_options << {:caption=>"State",            :data=>proc{|rec| rec.state},                          :title=>"State: All values exept \"WAITING\" mean \"ON CPU\". Event is the last event in this case", :data_title=>proc{|rec| explain_wait_state(rec.state)} }
  column_options << {:caption=>"Sum. Seconds",     :data=>proc{|rec| fn(rec.sum_wait_time_seconds, 3)},   :title=>"Seconds in Wait (Sum)", :align=>"right"}
  column_options << {:caption=>"Max. Seconds",     :data=>proc{|rec| fn(rec.max_wait_time_seconds, 3)},   :title=>"Seconds in Wait (Maximum of one session)", :align=>"right"}
  column_options << {:caption=>"Module",           :data=>show_module,                                    :title=>t(:dba_show_session_waits_modules_hint, :default=>'Number of different modules in gv$Session (or name if only on module)'), :align=>"right"}
  column_options << {:caption=>'Action',           :data=>show_action,                                    :title=>"Number of different actions in gv$Session (or name if only on module)", :align=>"right"}

%>

<div>
  <%= gen_slickgrid(@wait_sums, column_options, {
      :width=>:auto,
      :caption=>"Session-Waits (Summary) at #{localeDateTime(Time.now)}",
      :max_height => 450
  }) %>
</div>

<%

def link_column_blocking_object(rec)
    ajax_link("Row_Wait_File#=#{rec.row_wait_file_no}, Row_Wait_Block#=#{rec.row_wait_block_no}, Row_Wait_Row#=#{rec.row_wait_row_no}", {
                          :action           => :convert_to_rowid,
                          :update_area      => "lockdetail_#{rec.row_num}",
                          :waitingforobject => "#{rec.blocking_object_schema}.#{rec.blocking_object_name}",
                          :data_object_id   => rec.data_object_id,
                          :row_wait_file_no => rec.row_wait_file_no,
                          :row_wait_block_no => rec.row_wait_block_no,
                          :row_wait_row_no  => rec.row_wait_row_no
                         },
                  :title=>t(:dba_list_blocking_dml_locks_link_column_blocking_object_hint, :default=>"Determine associated rowid")
                )+"<div id=\"lockdetail_#{rec.row_num}\"></div>".html_safe
end

def link_column_session_info(instance, sid, serialno)
  ajax_link("#{instance} : #{sid}", {
                          :action            => "show_session_detail",
                          :instance          => instance,
                          :sid               => sid,
                          :serialno          => serialno,
                          :update_area       => @update_area
                         },
                  :title => "#{t(:dba_show_session_waits_link_session_hint, :default=>'Details for session, serial no. =')} #{serialno}"
                 )
end

column_options =
  [
    {:caption=>"Root Blocking Session", :data=>proc{|rec| link_column_session_info(rec.root_blocking_instance_number, rec.root_blocking_sid, rec.root_blocking_serialno)}, :title=>t(:dba_show_session_waits_root_blocking_session_hint, :default=>'Instance and SID of root blocking session (session causing the blocking cascacde)'), :data_title=>proc{|rec| "%t: SerialNo=#{rec.root_blocking_serialno}"} },
    {:caption=>"H",                     :data=>proc{|rec| rec.hlevel},                                                        :title=>t(:dba_show_session_waits_hlevel_hint, :default=>'Hierechy-depth of dependency from root blocking session (1 = root blocking session itself)')},
    {:caption=>"Blocking Session",      :data=>proc{|rec| link_column_session_info(rec.blocking_instance_number, rec.blocking_sid, rec.blocking_serialno)},           :title=>t(:dba_show_session_waits_blocking_session_hint, :default=>'Instance and SID of blocking session'), :data_title=>proc{|rec| "%t: SerialNo=#{rec.blocking_serialno}"}, :data_style=>proc{|rec| "background-color:orange;" if rec.root_blocking_instance_number==rec.blocking_instance_number && rec.root_blocking_sid==rec.blocking_sid} },
    {:caption=>"B. Status",             :data=>proc{|rec| rec.blocking_status},                                               :title=>t(:dba_show_session_waits_blocking_status_hint, :default=>'Status of blocking session')},
    {:caption=>"B. Event",              :data=>proc{|rec| rec.blocking_event},                                                :title=>"Wait-event of blocking session"},
    {:caption=>"B. Client-Info / Module / Action", :data=>proc{|rec| "#{rec.blocking_client_info} #{rec.blocking_module} #{rec.blocking_action}"}, :title=>t(:dba_show_session_waits_blocking_client_info_hint, :default=>'Client-info, module and action of blocking session'), :data_title=>proc{|rec| "%t: #{rec.blocking_app_desc}"} },
    {:caption=>"B. User",               :data=>proc{|rec| rec.blocking_username},                                             :title=>t(:dba_show_session_waits_blocking_user_hint, :default=>'User of blocking session'), :data_title=>proc{|rec| "%t, Machine=#{rec.blocking_machine}, OSUser=#{rec.blocking_osuser}, Process=#{rec.blocking_process}"} },
    {:caption=>"B. Program",            :data=>proc{|rec| rec.blocking_program},                                              :title=>t(:dba_show_session_waits_blocking_program_hint, :default=>'Program of blocking session'),        :data_title=>proc{|rec| "%t, Machine=#{rec.blocking_machine}, OSUser=#{rec.blocking_osuser}, Process=#{rec.blocking_process}"} },
    {:caption=>"Blocking Object", :data=>proc{|rec| "#{link_object_description(@update_area, rec.blocking_object_schema, rec.blocking_object_name)} - #{link_column_blocking_object(rec)}" }, :title=>t(:dba_show_session_waits_blocking_object_hint, :default=>'Schema and name of blocking object')},
    {:caption=>"Waiting Session",       :data=>proc{|rec| link_column_session_info(rec.inst_id, rec.sid, rec.serialno)},      :title=>t(:dba_show_session_waits_waiting_session_hint, :default=>'Instance and SID of waiting session'), :data_title=>proc{|rec| "%t, SerialNo=#{rec.serialno}"} },
    {:caption=>"W. Status",             :data=>proc{|rec| rec.status},                                                        :title=>t(:dba_show_session_waits_waiting_status_hint, :default=>'Status of waiting session')},
    {:caption=>"W. Event",              :data=>proc{|rec| rec.event},                                                         :title=>"Wait-event of waiting session",          :data_title=>proc{|rec| "%t: #{explain_wait_event(rec.event)}" }},
    {:caption=>"W. Client-Info / Module / Action", :data=>proc{|rec| "#{rec.client_info} #{rec.module} #{rec.action}"},       :title=>t(:dba_show_session_waits_waiting_client_info_hint, :default=>'Client-info, module and action of waiting session'), :data_title=>proc{|rec| "%t, #{rec.waiting_app_desc}"} },
    {:caption=>"W. User",               :data=>proc{|rec| rec.username},                                                      :title=>t(:dba_show_session_waits_waiting_user_hint, :default=>'User of waiting session'),             :data_title=>proc{|rec| "%t, Machine=#{rec.machine}, OSUser=#{rec.osuser}, Process=#{rec.process}"} },
    {:caption=>"W. Program",            :data=>proc{|rec| rec.program},                                                       :title=>t(:dba_show_session_waits_waiting_program_hint, :default=>'Program of waiting session'),         :data_title=>proc{|rec| "%t, Machine=#{rec.machine}, OSUser=#{rec.osuser}, Process=#{rec.process}"} },
    {:caption=>"Wait time (sec.)",      :data=>proc{|rec| formattedNumber(rec.seconds_waiting, 1)},                           :title=>t(:dba_show_session_waits_seconds_hint, :default=>'Seconds in wait for waiting session'), :align=>"right"},
    {:caption=>"W. SQL-ID",             :data=>proc{|rec| link_sql_id(@update_area, rec.inst_id, rec.sql_id, rec.sql_child_number, rec.username)}, :title=>t(:dba_show_session_waits_waiting_sql_id_hint, :default=>'current SQL-ID of waiting session')},
  ]
%>

<div>
  <%= gen_slickgrid(@blocking_waits, column_options, {
      :caption=>"Blocking Session-Waits from gv$Session at #{localeDateTime(Time.now)}",
      :max_height => 450, show_pin_icon: 2
  }) %>
  <div id="<%= @update_area %>"></div>
</div>







