<div class="page_caption">Generate genuine Oracle ASH report</div>


<%= form_tag(url_for(:controller=>:dba_history, :action=>:list_ash_global_report_html, browser_tab_id: @browser_tab_id), {:method => 'post', :target=>'_blank'}) do %>
  <div class="flex-row-container">
    <%= include_start_end_timepicker %>

    <div class="flex-row-element" title="Filter on specific RAC instance (mandatory)">
      Instance
      <%= text_field_tag(:instance, (read_from_client_info_store(:instance).nil? ? 1 : read_from_client_info_store(:instance)), :size=>1) %>
    </div>
    <div class="flex-row-element">
      <%= submit_tag('Generate ASH report', :title =>"Generate ASH-report by executing DBMS_WORKLOAD_REPOSITORY.ASH_REPORT_HTML\nRequires the role DBA or OEM_MONITOR for the connected user") %>
    </div>
  </div>
<% end %>

