<!DOCTYPE html>
<html>
<head>
</head>
<body data-no-turbolink="true">
Problem mit Panorama existiert für diesen Server.<br><br>

Bitte statt dessen vorüberhehend http://sbfappserver.ov.otto.de:8080/Panorama benutzen.<br><br>

Peter

<div id="content_for_layout" style="clear: both; width:100%; " >
</div>

</body>
</html>
